#menu{
 background:#FFCCFF;
 border:solid 3px #ff6699;
 border-radius:3px;
 width:1850px;
 padding:25px;
 }
menu{
 color:#FF0099;
 display:inline-block;
 margin:20px;
 border: dashed 2px #ff9999;;
 border-radius:5px;
 width:100px;
 margin-left: 350px;
 padding:5px;
 }
menu:hover{
 border-radius:3px;
 border: dashed 2px #ff9999;;
 color:#FF0099;
 }
.img3{
	position:absolute;
	width: 100px;
	top:16%;
	left:99%;
	margin-left:-105px;
	margin-top:-130px;
	padding:5px}
	.imgAtras{
	position:absolute;
	width: 100px;
	top:3%;
	left:6%;
	margin-left:-105px;
}

.img1{
	position:absolute;
	margin-top:  -3px;
	padding-left: 20px;
	width: 30px;
	}
.img2{
	position:absolute;
	width: 23px;
	padding-left: 70px;
	padding-top: -5px;
	}
	
.h3{
	position:absolute;
	color: #FF33CC;
	top:1.5%;
	left:95%;
	margin-left:-150px;
	margin-top:50px;
	padding:5px}

	.color{
	background: #FFB6C1;
}
.imgChambas{
	position:absolute;
	width: 130px;
	top:18%;
	left:14%;
	margin-left:-105px;
}
.BTN{
	position:absolute;
 	border-radius:12px;
	width: 10%;
	top:24%;
	left:90%;
	background-color: #ff9999;
    color:#FF0099;
	margin-left:-60px;
	margin-top:-20px;
	padding:10px}
.BTN1{
	position:absolute;
 	border-radius:12px;
	width: 10%;
	top:24%;
	left:70%;
	background-color: #ff9999;
    color:#FF0099;
	margin-left:-60px;
	margin-top:-20px;
	padding:10px}
.BTN2{
	position:absolute;
 	border-radius:12px;
	width: 10%;
	top:24%;
	left:50%;
	background-color: #ff9999;
    color:#FF0099;
	margin-left:-60px;
	margin-top:-20px;
	padding:10px}
.chambas{
	position:absolute;
	top:22%;
	left:20%;
	color:#ff9999;
	margin-left:-50px;
	margin-top:10px;
	padding:5px}
.centrar{
	position:absolute;
	top:55%;
	left:19%;
	margin-left:-250px;
	height:450px;
	margin-top:-150px;
	padding:5px;
}
.tabla {
font-family: Verdana;
font-size:16px;
text-align: left;
width: 1700px;

}
.tabla th {
padding: 9px;
font-size: 16px;
background-color: #FFB6C1;
color: #FFFFFF;
font-family:  Arial;
text-transform: uppercase;
}
.tabla .modo1 {
font-size: 15px;
font-weight:bold;
font-family:  Arial;
padding: 5px;
text-align:left;
}
 input{
	border:0;
	border-radius:5px;
	box-shadow:0 2px 0 rgba(0,0,0,.2);
	color:#DA70D6;
	font-style:italic;
	font-weight:900;
	margin:0 0;
	padding:7px 20px}	
	